<div class="form-color">
<%= form_for [@departement, @employee] do |form| %>
  <div>
    <h3>
      <span>Add Employee</span>
    </h3>
  </div>
	<div class="field">
		<%= form.label :name %><br />
		<%= form.text_field :name %>
	</div>
	<div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.fields_for :attachments do |photo| %>
      <%= photo.file_field :photo %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :qualification %><br />
    <%= form.text_field :qualification %>
  </div>
  <div class="field">
    <%= form.label "Date of Birth" %><br />
    <%= form.date_select :dateofbirth %>
  </div>
  <br />
	<div class="actions">
		<%= form.submit :class => "btn btn-success btn-md" %>
	</div>
<% end %>
</div>