<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h4>Employees</h4>
    </div>
  </div>
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% @employees.each do |employee| %>
        <div class="col-lg-3 bg-primary custom-style">  <!-- panel panel-primary -->
          <p><b>Name: </b><%= employee.name %><p>
          <p><b>Email Address: </b><%= employee.email %></p>
          <p><b>Qualification: </b><%= employee.qualification %></p>
          <p><b>Date of Birth: </b><%= employee.dateofbirth %></p>
          <p><b>Photo: </b><%= image_tag employee.attachments.first.photo.url(:thumb) if employee.attachments.present? %>
          </p>
          <p>
            <span><b> Project: </b></span>
            <% employee.projects.each do |project| %>
              <%= project.name %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>


