<div class="form-color">
<%= form_for(@departement) do |form| %>
  <% if @departement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departement.errors.count, "error") %> prohibited this departement from being saved:</h2>

      <ul>
      <% @departement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <h3>
     <span>New Departement</span>
    </h3>
  </div> -->
  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :phone %><br />
    <%= form.text_field :phone %>
  </div>
  <div class="field">
    <%= form.label :category %><br />
    <%= form.text_field :category %>
    <!-- <%= form.fields_for :type do |type| %>
      <%= select_tag(:category, options_for_select([['Services', 1], ['Technical', 2]])) %>
    <% end %> -->
  </div> <br />
  <div class="field">
    <%= form.fields_for :attachments do |photo| %>
      <%= photo.file_field :photo %>
    <% end %>
  </div> <br />
  <div class="actions">
    <%= form.submit :class => "btn btn-success btn-md"%>
  </div>
<% end %>
</div>
