<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
     
      <h4>Departements</h4>
    </div>

    <div class="col-lg-6 text-right">
      <%= button_to 'Signout',  destroy_user_session_path, method: :delete, :class => "btn btn-danger btn-md"%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= button_to 'New Departement', new_departement_path, method: :get, :class => "btn btn-success btn-md" %>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%@departements.each do |departement|%>
        <div class="col-lg-3 bg-primary custom-style">  <!-- panel panel-primary -->
          <h4 class="lead"><%= departement.name %></h4>
          <p><%= departement.email %></p>
          <p><%= departement.phone %></p> <br />
          <p>
      <%= image_tag departement.attachments.first.photo.url(:medium
      ) if departement.attachments.present? %>
    </p>
          <table>
            <tr>
              <td> <%= button_to 'Show', departement, method: :get, :class => "btn btn-info btn-md" %> </td>
              <td> <%= button_to 'Edit', edit_departement_path(departement), method: :get, :class => "btn btn-warning btn-md icon icon-bullhorn" %></td>
              <td> <%= link_to 'Destroy', departement, method: :delete, :class => "btn btn-danger btn-md", data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </table>
          <%= button_to 'Add Employee', new_departement_employee_path(departement.id), method: :get,:class => "btn btn-success btn-md" %>
        </div>
      <% end %>
    </div>
  </div>
</div>