<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4>Departements</h4>
      <% if user_signed_in? %>
        <h4> Welcome, <%=current_user.first_name %> <%=current_user.last_name %>  </h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= link_to 'New Departement', new_departement_path, method: :get, :class => "btn btn-success btn-md" %>
    </div>
  </div>
<br />
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-lg-12">
      <%@departements.each do |departement|%>
        <div class="col-lg-3 bg-primary custom-style">  <!-- panel panel-primary -->
          <h4 class="lead"><%= departement.name %></h4>
          <p><%= departement.email %></p>
          <p><%= departement.phone %></p> <br />
          <p>
      <%= image_tag departement.attachments.first.photo.url(:medium
      ), :class => "img-responsive" if departement.attachments.present? %>
    </p>
          <%= link_to 'Show', departement, method: :get, :class => "btn btn-info btn-md" %>
          <% if user_signed_in? && departement.user_id == current_user.id %>
                <td> <%= link_to 'Edit', edit_departement_path(departement), method: :get, :class => "btn btn-warning btn-md icon icon-bullhorn" %>
                <%= link_to 'Destroy', departement, method: :delete, :class => "btn btn-danger btn-md", data: { confirm: 'Are you sure?' } %>
          <% end %>
          <!-- <table>
            <tr>
              <td> <%= link_to 'Show', departement, method: :get, :class => "btn btn-info btn-md" %> </td>
              <% if current_user!=nil && departement.user_id == current_user.id %>
                <td> <%= link_to 'Edit', edit_departement_path(departement), method: :get, :class => "btn btn-warning btn-md icon icon-bullhorn" %></td>
                <td> <%= link_to 'Destroy', departement, method: :delete, :class => "btn btn-danger btn-md", data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </table> -->
          <% if user_signed_in? && departement.user_id == current_user.id %>
            <%= link_to 'Add Employee', new_departement_employee_path(departement.id), method: :get,:class => "btn btn-success btn-md" %>
            <% if departement.category == 'Technical'%>
              <%= link_to 'Add Project', new_departement_project_path(departement.id), method: :get,:class => "btn btn-success btn-md" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>