<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @departement.name %>
</p>

<p>
  <b>Email:</b>
  <%= @departement.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @departement.phone %>
</p>


<%= link_to 'Edit', edit_departement_path(@departement) %> |
<%= link_to 'Back', departements_path %>

<%= render "employees/new_employee_form" %>
<%= render "employees/show_employees_form" %>
